<div class="column">
    <nav class="panel">
        <p class="panel-heading">Who to Follow</p>
    
        <div class="panel-block">
            <article class="media">
                <div class="media-left">
                    <figure class="image is-32x32">
                        <img src="https://bulma.io/images/placeholders/64x64.png" alt="">
                    </figure>
                </div>
                <div class="content">
                    <p>
                        <strong>Will Clown</strong>
                        <small>@clownw</small>
                    </p>
                </div>
            </article>
        </div>

        <div class="panel-block">
            <article class="media">
                <div class="media-left">
                    <figure class="image is-32x32">
                        <img src="https://bulma.io/images/placeholders/64x64.png" alt="">
                    </figure>
                </div>
                <div class="content">
                    <p>
                        <strong>Hal Onker</strong>
                        <small>@h_onker</small>
                    </p>
                </div>
            </article>
        </div>

        <div class="panel-block">
            <article class="media">
                <div class="media-left">
                    <figure class="image is-32x32">
                        <img src="https://bulma.io/images/placeholders/64x64.png" alt="">
                    </figure>
                </div>
                <div class="content">
                    <p>
                        <strong>Norman I E</strong>
                        <small>@normie</small>
                    </p>
                </div>
            </article>
        </div>
    </nav>   
</div>